div(class="card")
	script(type='text/javascript' src='/js/filter_users.js')
	h3.card-title.float-left Gebruikers
	h6.float-right Totaal: 
		span=users.length
	input(type="text" placeholder="Zoeken..." id="filter_input" onkeyup="filter()")
	table(id="users_table")
		thead
			tr
				th ID
				th Gebruikersnaam
				th Bijnaam
				th Email
				th punten
				th
		tbody
			each user, index in users
				tr
					td= user._id
					td= user.nickname
					td= user.email
					td= user.points.length
					td 
						a(class="button button-warning button-small" href="/users/"+user._id) details