div(class="col col-4")
	div(class="card")
		table
			thead
				tr
					th ID
					th Game naam
					th Geeindigd op
					th Gestart op
					th Aantal keer gespeeld
			tbody
				tr
					td= history._id
					td= history.game.name
					td= moment(history.gameStarted).format("DD/MM/YYYY HH:mm")
					if history.gameEnded
						td= history.gameEnded
					else
						td Nog bezig.
					td= histories.length
		script(type='text/javascript' src='/js/filter_points.js')
		h3.card-title.float-left Punten
		h6.float-right Totaal:
			span=history.totalPoints

		input(type="text" placeholder="Zoeken..." id="filter_input" onkeyup="filterPoints()")
		table(id="points_table")
			thead
				tr
					th Gebruiker
					th Email
					th Aantal punten
					th Game punten
					th Punten percentage (van die game)
					th Gebruiker bekijken
			tbody
				each point, index in history.points
					tr
						td= point.user.nickname
						td= point.user.email
						td= point.points
						td= point.gamePoints
						td= point.gamePercent
						td
							a(class="button button-warning button-small" href="/users/"+point.user._id) details